<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ .Title }} </title>
    
    {{ with .Site.Params.google_font }}<link href="https://fonts.googleapis.com/css?family={{ . }}" rel="stylesheet" type="text/css">{{ end }}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/{{ .Site.Params.inc.logo }}"/>
    <link href="{{ .Site.BaseUrl }}/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Params.inc.title }}" />
    <meta name="title" content="{{ .Site.BaseUrl }}">
    <link rel="canonical" href="{{ .Site.BaseUrl }}">
    
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:url" content="{{ .Site.BaseUrl }}"/>
    <meta property="og:image" content="{{ .Site.BaseUrl }}/images/{{ .Site.Params.inc.logo }}"/>   
  </head>
  
  <body>
      <section class="site-nav">
        <header>
          <nav id="navigation">
            <a class="brand" href="/">SOTA</a>
            {{ with .Site.Params.about_link }}<a href="{{ . }}">About</a>{{ end }}
            {{ with .Site.Params.talks_link }}<a href="{{ . }}">Talks</a>{{ end }}
            {{ with .Site.Params.projects_link }}<a href="{{ . }}">Projects</a>{{ end }}
            {{ with .Site.Params.photos_link }}<a href="{{ . }}">Photos</a>{{ end }}         
          </nav>        
        </header>
</section>

